os: linux
# dist: trusty
dist: xenial
python:
    - '3.6'
before_install:
    - sudo apt-get update -qq
    - sudo apt-get --no-install-recommends install -y clisp cmake cpanminus gawk golang hugs julia libperl-dev lua5.2 mawk ocaml php7.0-cli python3 python3-setuptools perl python3-pip tclsh zsh
install:
    - which python3
    - python3 --version
    - sudo -H `which python3` -m pip install flake8 pycotap
    - sudo cpanm --notest File::Which String::ShellQuote Test::Differences Test::TrailingSpace
perl:
    - "5.26"
script:
    - export PATH="`pwd`/Tests/travis-ci-hacks/bin:$PATH" ; unset GOPATH GOROOT
    - prove -v Tests/test-output.py
    - make test
