os: linux
dist: trusty
python:
    - '3.6'
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y cmake cmake-data cpanminus gperf libgmp-dev libgoogle-perftools-dev libperl-dev mercurial ninja-build python3 python3-setuptools perl python3-pip silversearcher-ag valgrind
install:
    - which python3
    - python3 --version
    - sudo -H `which python3` -m pip install cffi
    - sudo -H `which python3` -m pip install random2
    - sudo -H `which python3` -m pip install Zenfilter
    - sudo cpanm --notest Test::TrailingSpace
perl:
    - "5.26"
script:
    - make test
